
#-------------------------------------------------------------------------------
# I. MACROS you *need* to configure for your particular system.
#-------------------------------------------------------------------------------

# Update these as appropriate for your caffe
PYCAFFE=/home/pekalmj1/Apps/caffe/python
MATLAB=/usr/local/MATLAB/R2013a/bin/matlab

# I assume caffe and caffe-ct are in your path; if not
# update these macros accordingly
CAFFE=caffe
CCT=caffe-ct


#-------------------------------------------------------------------------------
# II. MACROS you may want to change
#     (these control the experimental setup)
#
# You can also override these on the command line.
#-------------------------------------------------------------------------------

# Experiment parameters related to the data set.
# You can put different train/test splits into different "experiments".
#
# For example, for a 28/2 slice training/validation split:
#    EXPERIMENT=ISBI_Train28
#    SLICE_TRAIN="range(0,28)"
#    SLICE_VALID="range(28,30)"
#
# Or for a 20/10 training/validation split:
#    EXPERIMENT=ISBI_Train20
#    SLICE_TRAIN="range(0,20)"
#    SLICE_VALID="range(20,30)"
#
# Note: if you change the EXPERIMENT, you'll need to manually hack
#       the caffe *.net files (at least for the LMDB version)
#
EXPERIMENT=ISBI_Train20
SLICE_TRAIN="range(0,20)"
SLICE_VALID="range(20,30)"
SLICE_TEST="[]"
N_TILES=200000


# Specify which CNN and model to use.
#    e.g. n3_lmdb, n3_py, lenet_lmdb, lenet_py
# (the "_py" models are for pycaffe targets)
CNN=lenet_py
CAFFE_MODEL=iter_080000.caffemodel
CCT_MODEL=trained_model.bin.25-09-2015-04-46-54

# Extra synthetic data augmentation during training?
# 0 := no arbitrary rotations (just flips and mirrors)
# 1 := enable arbitrary rotations.
ROTATE=0

# How much of the volume to evaluate in deploy mode.
# This is a scalar value in [0,1]
EVAL_PCT=1.0

# Which GPU to use.
# You may want to override this from the command line.
# On our cluster, you should avoid using gpu 0.
GPU=1



#-------------------------------------------------------------------------------
# III. MACROS that are system-independent 
#      (you can probably ignore these)
#-------------------------------------------------------------------------------

# used to define paths properly below
MAKE_NAME := $(abspath $(lastword $(MAKEFILE_LIST)))
BASE_DIR := $(patsubst %/,%,$(dir $(MAKE_NAME)))
PROJ_NAME := $(notdir $(BASE_DIR))


SRC=$(BASE_DIR)/src
DATA_DIR=$(BASE_DIR)/Data/ISBI2012
LMDB_DIR=$(BASE_DIR)/Data/ISBI2012/$(EXPERIMENT)
MODEL_DIR=$(BASE_DIR)/Models/$(CNN)
OUT_DIR=$(MODEL_DIR)/$(EXPERIMENT)

# Different ways to run python.
# (we always need PyCaffe and emlib.py in the PYTHONPATH)
PY=PYTHONPATH=$(PYCAFFE):$(SRC) python
IPY=PYTHONPATH=$(PYCAFFE):$(SRC) ipython -i --
PYNOHUP=PYTHONPATH=$(PYCAFFE):$(SRC) nohup python
PYPROF=PYTHONPATH=$(PYCAFFE):$(SRC) python -m cProfile -s cumtime

# Number of iterations to use in timing experiments
NITERS=100

TAR=$(PROJ_NAME).tar
