
#-------------------------------------------------------------------------------
# MACROS you *need* to configure for your particular system.
#-------------------------------------------------------------------------------

# Update PYCAFFE as appropriate for your caffe
PYCAFFE=/home/pekalmj1/Apps/caffe/python

# I assume caffe and caffe-ct are in your path; if not
# update these macros accordingly
CAFFE=caffe
CCT=caffe-ct



#-------------------------------------------------------------------------------
# MACROS you may want to change
# (these control the experimental setup)
#-------------------------------------------------------------------------------

# Experiment parameters related to the data set.
# You can put different train/test splits into different "experiments".
#
# For example, you may prefer a 28/2 slice training/validation split
# of the ISBI training volume:
#    EXPERIMENT=ISBI_Train28
#    SLICE_TRAIN="range(0,28)"
#    SLICE_VALID="range(28,30)"
#
# Note: if you change the EXPERIMENT, you'll need to manually hack
#       the caffe *.net files (at least for the LMDB version)
#
EXPERIMENT=ISBI_Train28
SLICE_TRAIN="range(0,28)"
SLICE_VALID="range(28,30)"
SLICE_TEST="[]"
N_TILES=200000


# Specify which CNN and model to use.
#    e.g. n3-lmdb, n3-py, lenet-lmdb, lenet-py
# (the "-py" models are for pycaffe targets)
CNN=lenet-py
CAFFE_MODEL=iter_080000.caffemodel
CCT_MODEL=trained_model.bin.25-09-2015-04-46-54

# Extra synthetic data augmentation during training?
# 0 := no arbitrary rotations (just flips and mirrors)
# 1 := enable arbitrary rotations.
ROTATE=0

# How much of the volume to evaluate in deploy mode.
# This is a scalar value in [0,1]
EVAL_PCT=1.0

# Which GPU to use.
# You may want to override this from the command line.
# On our cluster, you should avoid using gpu 0.
GPU=1

